[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crispy-bootstrap5 = "*"
django = "*"
django-crispy-forms = "*"
django-user-agents = "*"
gunicorn = "*"
pytz = "*"
whitenoise = "*"
tzdata = "*"
requests = "*"
geopy = "*"

[dev-packages]
black = "*"
mypy = "*"
