{% extends 'base.html' %}

{% load i18n crispy_forms_tags user_agents %}

{% block title %}Import image{% endblock title %}

{% block content %}
<div id="import">
    <div class="text-themed title{% if request|is_mobile %} mobile{% endif %}">{% trans 'EXIF remover' %}</div>
    <div class="note">
        <center>
            <div class="text-themed dark mb-2">{% trans 'EXIF data contains information about the image such as the exact location where it was taken' %}.</div>
            <div class="text-themed dark mb-2">({% trans 'Note that when doing this process, your image may lose some quality' %})</div>
            {% if error %}<div class="text-themed dark mb-2">Error: {% trans "The error thrown by the program was" %}: {{ error }}</div>{% endif %}
        </center>
    </div>
    <div class="text-themed crwrapper">
        <form action="/exifrm/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>
{% endblock content %}
