{% extends 'base.html' %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Upgrade" %}{% endblock title %}

{% block content %}
<div id="upgrade">
    <div class="title">{% trans "Upgrade" %}</div>
    <div class="subtitle text-themed">
        <p>{% trans "Upgrading is a paid feature. Once your account is upgraded, you will have lifetime access to all web features" %}.</p>
        <p>{% trans "To upgrade, visit" %} <a href="">{% trans "this link" %}</a></p>
    </div>
    <div class="crwrapper">
        <form action="/account/upgrade/" method="post">
            {% csrf_token %}
            {% crispy upgradeform %}
        </form>
    </div>
</div>
{% endblock content %}
