{% extends 'base.html' %}
{% load i18n user_agents %}

{% block title %}{% trans 'Provinces' %}{% endblock %}

{% block content %}
<div id="provinces" class="container text-themed">
    <div class="title {% if request|is_mobile %} mobile{% endif %}">{% trans 'Provinces' %}</div>
    <p class="text-center">{% trans "These are the names stored in the database. Use them in your searches" %}.</p>
    <p class="text-center">{% trans "Tip: Use CTRL+F or tap 'search in page' in the browser menu" %}.</p>
    <div class="row">
        {% for name in provinces %}
        <div class="col-4 my-1 text-center">{{ name|lower|capfirst }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
