{% extends 'base.html' %}
{% load user_agents i18n crispy_forms_tags %}

{% block title %}{% trans 'Gas stations' %}{% endblock %}

{% block content %}
<div id="search" class="container">
    <h1 class="title{% if request|is_mobile %} mobile{% endif %}">{% trans 'Gas stations' %}</h1>
    <div class="subtitle">
        <center>
            <div class="text-themed dark mb-2">{% trans 'Here you will find the cheapest gas stations for each area sorted by fuel type' %}.</div>
        </center>
    </div>
    <div class="container crwrapper">
        <form hx-post="/gas/search/" hx-trigger="load, change throttle:500ms, keyup delay:500ms" hx-target="#search-result" hx-indicator="#indicator" action="/gas/search/" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    <div class="row justify-content-between my-3 text-themed">
        <div class="col text-start"><a href="localities/" class="text-themed">{% trans "Localities" %}</a></div>
        <img id="indicator" class="col htmx-indicator" src="/s/spinner.svg" height="24"/>
        <div class="col text-end"><a href="provinces/" class="text-themed">{% trans "Provinces" %}</a></div>
    </div>

    <hr class="text-themed my-2">
    <div id="search-result"></div>
</div>
{% endblock %}
