{% extends 'base.html' %}
{% load user_agents i18n crispy_forms_tags %}

{% block title %}{% trans 'Gas stations' %}{% endblock %}

{% block content %}
<div id="search" class="container">
    <div class="title{% if request|is_mobile %} mobile{% endif %}">{% trans 'Gas stations' %}</div>
    <div class="subtitle">
        <center>
            <div class="text-themed dark mb-2">{% trans 'Here you will find the cheapest gas stations for each area sorted by fuel type' %}.</div>
            <div class="text-themed dark">({% trans 'Only works for Spain' %})</div>
        </center>
    </div>
    <div class="container crwrapper">
        <form hx-post="/gas/search/" hx-trigger="keyup delay:500ms, change delay=500ms" hx-target="#search-result" hx-indicator="#indicator" action="/gas/search/" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    <div class="row justify-content-between my-3 text-themed">
        <div class="col text-start"><a href="localities/" class="text-themed">{% trans "Localities" %}</a></div>
        <div class="col text-end"><a href="provinces/" class="text-themed">{% trans "Provinces" %}</a></div>
    </div>

    <hr class="text-themed" style="margin-top: 3rem; margin-bottom: 2rem;">

    <center>
        <img id="indicator" class="htmx-indicator" src="/s/spinner.svg"/>
    </center>

    <div id="search-result"></div>
</div>
{% endblock %}
