{% extends "base.html" %}
{% load user_agents i18n crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="/s/leaflet/leaflet.css"/>
<script src="/s/leaflet/leaflet.js"></script>
{% endblock head %}

{% block title %}{% trans "Station" %}{% endblock title %}

{% block content %}
{% with s=station %}
<div id="station" class="text-themed">
    <h1 class="title{% if request|is_mobile %} mobile{% endif %}">{{ s.company|lower|capfirst|truncatechars:20 }}</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>{% trans "Information" %}</h2>
                <table class="table table-dark table-sm table-hover">
                    <tr>
                        <th>ID:</th>
                        <th>{{ s.id_eess }}</th>
                    </tr>
                    <tr>
                        <td>{% trans "Name" %}:</td>
                        <td>{{ s.company }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Address" %}:</td>
                        <td>{{ s.address }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Locality" %}:</td>
                        <td>{{ s.locality }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Province" %}:</td>
                        <td>{{ s.province }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Latitude" %}:</td>
                        <td>{{ s.latitude }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Longitude" %}:</td>
                        <td>{{ s.longitude }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Schedule" %}:</td>
                        <td>{{ s.schedule }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h2>{% trans "Current prices" %}</h2>
                <table class="table table-dark table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Fuel" %}</th>
                            <th scope="col">€/L</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Gasóleo A</td>
                            <td>{{ p.price_goa|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Gasóleo B</td>
                            <td>{{ p.price_gob|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Gasolina 95 E5</td>
                            <td>{{ p.price_g95e5|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Gasolina 95 E5 Premium</td>
                            <td>{{ p.price_g95e5_premium|default:"-" }}</td>
                        </tr>
                        {% comment %} <tr>
                            <td scope="row">Gasolina 95 E10</td>
                            <td>{{ p.price_g95e10|default:"-" }}</td>
                        </tr> {% endcomment %}
                        <tr>
                            <td scope="row">Gasolina 98 E5</td>
                            <td>{{ p.price_g98e5|default:"-" }}</td>
                        </tr>
                        {% comment %} <tr>
                            <td scope="row">Gasolina 98 E10</td>
                            <td>{{ p.price_g98e10|default:"-" }}</td>
                        </tr> {% endcomment %}
                        <tr>
                            <td scope="row">GLP</td>
                            <td>{{ p.price_glp|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td scope="row">GNC</td>
                            <td>{{ p.price_gnc|default:"-" }}</td>
                        </tr>
                        {% comment %} <tr>
                            <td scope="row">Hidrógeno</td>
                            <td>{{ p.price_h2|default:"-" }}</td>
                        </tr> {% endcomment %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="map" style="height: 500px; border-radius: 10px"></div>
        <hr>
        <h2 class="mt-2 mb-1">{% trans "Price history" %}</h2>
        <form hx-post="/gas/station/{{ s.id_eess }}/" hx-trigger="change throttle:500ms, keyup delay:500ms" hx-target="#pricerange" hx-indicator="#indicator">
            {% crispy daterange_form %}
            <img id="indicator" class="col htmx-indicator" src="/s/spinner.svg" height="24"/>
        </form>
        <canvas id="price_hist_graph"></canvas>
        <div id="pricerange">
            {{ graph_data|json_script:"price_hist" }}
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}

{% block script %}
<script>
    var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>',
        detectRetina: true
    });
    var pnoa = L.tileLayer('https://tms-pnoa-ma.idee.es/1.0.0/pnoa-ma/{z}/{x}/{-y}.jpeg', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://pnoa.ign.es">PNOA</a>, <a href="https://idee.es">IDEE</a>',
        detectRetina: true
    });
    var bright = L.tileLayer('https://d.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}@2x.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attributions">CARTO</a>',
    })
    var dark = L.tileLayer('https://c.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attributions">CARTO</a>',
    })


    var capas = {
        'OpenStreetMap': osm,
        'PNOA (IGN)': pnoa,
        '{% trans "Bright" %}': bright,
        '{% trans "Dark" %}': dark
    };

    var map = L.map('map', {
        center: [{{ station.latitude }}, {{ station.longitude }}],
        zoom: 15,
        {% comment %} layers: actual {% endcomment %}
        layers: osm
    });
    var layerControl = L.control.layers(capas).addTo(map);

    var stationMarker = L.marker([{{ station.latitude }}, {{ station.longitude }}], {title: '{{ station.company|lower|capfirst }}', direction: "top", permanent: 1}).addTo(map);

    navigator.geolocation.getCurrentPosition((position) => {
        var user = L.marker([position.coords.latitude, position.coords.longitude], {icon: L.icon({iconUrl: '/s/icons/car.svg', iconSize: 36, shadowUrl: '/s/icons/car-shadow.svg', shadowSize: 36})}).addTo(map);
        user.bindTooltip("{% trans 'You are here' %}", {direction:"top", offset: L.point(0,-16)}).openTooltip();

        centerLat = (position.coords.latitude + {{ station.latitude }}) / 2;
        centerLon = (position.coords.longitude + {{ station.longitude }}) / 2;
        map.setView([centerLat, centerLon]);
        map.fitBounds([[position.coords.latitude, position.coords.longitude], [{{ station.latitude }}, {{ station.longitude }}]]);
    });
</script>

<script src="/s/chart.js"></script>
<script type="module">
const precios = JSON.parse(document.getElementById('price_hist').textContent);
new Chart(
    document.getElementById('price_hist_graph'),
    {
        type: 'line',
        data: {
            labels: precios.map(row => row.date),
            datasets: [
                {
                    label: "Gasóleo A",
                    data: precios.map(row => row.price_goa),
                    borderColor: "#36a2eb",
                }, {
                    label: "Gasóleo B",
                    data: precios.map(row => row.price_gob),
                    borderColor: "#ff6384",
                }, {
                    label: "Gasolina 95",
                    data: precios.map(row => row.price_g95e5),
                    borderColor: "#4bc0c0",
                }, {
                    label: "Gasolina 98",
                    data: precios.map(row => row.price_g98e5),
                    borderColor: "#ffcd56",
                }, {
                    label: "GLP",
                    data: precios.map(row => row.price_glp),
                    borderColor: "#9966ff",
                }
            ]
        },
        options: {
            aspectRatio: {% if request|is_mobile %}1{% else %}2{% endif %},
            responsive: true,
            tension: 0.25,
            scales: {
                y: {
                    //beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Precio (€/L)'
                    },
                    ticks: {
                        callback: value => `${Math.round(value * 100) / 100} €/L`
                    }
                }
            }
        },
    }
);
</script>
{% endblock script %}
