{% extends "base.html" %}
{% load user_agents i18n %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock head %}

{% block content %}
{% with s=station %}
<div id="station" class="text-themed">
    <h1 class="title{% if request|is_mobile %} mobile{% endif %}">{% trans "Station" %} #{{ s.id_eess }}</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>{% trans "Information" %}</h2>
                <table class="table table-dark table-sm table-hover">
                    <tr>
                        <td><strong>{% trans "Name" %}:</strong></td>
                        <td>{{ s.company }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Address" %}:</strong></td>
                        <td>{{ s.address }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Locality" %}:</strong></td>
                        <td>{{ s.locality }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Province" %}:</strong></td>
                        <td>{{ s.province }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Latitude" %}:</strong></td>
                        <td>{{ s.latitude }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Longitude" %}:</strong></td>
                        <td>{{ s.longitude }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Schedule" %}:</strong></td>
                        <td>{{ s.schedule }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h2>{% trans "Current prices" %}</h2>
                <table class="table table-dark table-sm table-hover">
                    <thead>
                        <tr>
                            <td scope="col">{% trans "Fuel" %}</td>
                            <td scope="col"><strong>€/L</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Gasóleo A</td>
                            <td>{{ p.price_goa|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Gasóleo B</td>
                            <td>{{ p.price_gob|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Gasolina 95 E5</td>
                            <td>{{ p.price_g95e5|default:"-" }}</td>
                        </tr>
                        {% comment %} <tr>
                            <td scope="row">Gasolina 95 E5 Premium</td>
                            <td>{{ p.price_g95e5_premium|default:"-" }}</td>
                        </tr> {% endcomment %}
                        {% comment %} <tr>
                            <td scope="row">Gasolina 95 E10</td>
                            <td>{{ p.price_g95e10|default:"-" }}</td>
                        </tr> {% endcomment %}
                        <tr>
                            <td scope="row">Gasolina 98 E5</td>
                            <td>{{ p.price_g98e5|default:"-" }}</td>
                        </tr>
                        {% comment %} <tr>
                            <td scope="row">Gasolina 98 E10</td>
                            <td>{{ p.price_g98e10|default:"-" }}</td>
                        </tr> {% endcomment %}
                        <tr>
                            <td scope="row">GLP</td>
                            <td>{{ p.price_glp|default:"-" }}</td>
                        </tr>
                        {% comment %} <tr>
                            <td scope="row">GNC</td>
                            <td>{{ p.price_gnc|default:"-" }}</td>
                        </tr> {% endcomment %}
                        {% comment %} <tr>
                            <td scope="row">Hidrógeno</td>
                            <td>{{ p.price_h2|default:"-" }}</td>
                        </tr> {% endcomment %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="map" style="height: 500px; border-radius: 10px"></div>
        <h2 class="mt-2 mb-1">{% trans "Price history" %}</h2>
        <canvas id="price_hist_graph"></canvas>
        {% comment %} <div class="row justify-content-between">
            <form class="col" hx-get="/gas/station/{{ s.id_eess }}/" hx-trigger="change throttle:500ms, keyup delay:500ms" hx-target="#pricerange" hx-indicator="#indicator" hx-include="#datepicker">
                <input id="datepicker"></input>
                <div id="indicator"></div>
            </form>
        </div> {% endcomment %}
    </div>
</div>
{% endwith %}
{% endblock %}

{% block script %}
<script>
    var actual = L.tileLayer('https://tms-pnoa-ma.idee.es/1.0.0/pnoa-ma/{z}/{x}/{-y}.jpeg', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://pnoa.ign.es">PNOA</a>'
    });

    var provisional = L.tileLayer.wms('https://wms-pnoa.idee.es/pnoa-provisionales?service=WMS&', {
        layers: 'OrtoimagenExpedita',
        attribution: '&copy; <a href="https://pnoa.ign.es">PNOA</a>'
    });

    url = 'https://www.ign.es/wms/pnoa-historico?SERVICE=WMS&';

    // 2017
    var diecisiete = L.tileLayer.wms(url, {
        layers: ['PNOA2017'],
        format: 'image/png',
        attribution: '&copy; <a href="https://pnoa.ign.es">PNOA</a>'
    });

    // 2020
    var veinte = L.tileLayer.wms(url, {
        layers: ['PNOA2020'],
        format: 'image/png',
        attribution: '&copy; <a href="https://pnoa.ign.es">PNOA</a>'
    });

    var capas = {
        'PNOA Actual': actual,
        'PNOA Provisional': provisional,
        'PNOA 2017': diecisiete,
        'PNOA 2020': veinte
    };

    var map = L.map('map', {
        center: [{{ station.latitude }}, {{ station.longitude }}],
        zoom: 15,
        layers: actual
    });
    var layerControl = L.control.layers(capas).addTo(map);

    {% comment %} var marker = L.marker([{{ station.latitude }}, {{ station.longitude }}]).addTo(map);
    marker.bindTooltip("{{ station.company|lower|capfirst }}", {direction:"top", offset: L.point(-16,0), permanent: 1}).openTooltip(); {% endcomment %}

    var tooltip = L.tooltip([{{ station.latitude }}, {{ station.longitude }}], {content: '{{ station.company|lower|capfirst }}', direction: "top", permanent: 1}).addTo(map);

    navigator.geolocation.getCurrentPosition((position) => {
        var user = L.marker([position.coords.latitude, position.coords.longitude], {icon: L.icon({iconUrl: '/s/icons/car.svg', iconSize: 36, shadowUrl: '/s/icons/car-shadow.svg', shadowSize: 36})}).addTo(map);
        user.bindTooltip("{% trans 'You are here' %}", {direction:"top", offset: L.point(0,-16)}).openTooltip();

        centerLat = (position.coords.latitude + {{ station.latitude }}) / 2;
        centerLon = (position.coords.longitude + {{ station.longitude }}) / 2;
        map.setView([centerLat, centerLon]);
        map.fitBounds([[position.coords.latitude, position.coords.longitude], [{{ station.latitude }}, {{ station.longitude }}]]);
    });
</script>

<script src="/s/chart.js"></script>
{{ graph_data|json_script:"price_hist" }}
<script type="module">
const precios = JSON.parse(document.getElementById('price_hist').textContent);
new Chart(
    document.getElementById('price_hist_graph'),
    {
        type: 'line',
        data: {
            labels: precios.map(row => row.date),
            datasets: [
                {
                    label: 'Gasóleo A',
                    data: precios.map(row => row.price_goa),
                }, {
                    label: 'Gasóleo B',
                    data: precios.map(row => row.price_gob),
                }, {
                    label: 'Gasolina 95',
                    data: precios.map(row => row.price_g95e5),
                }, {
                    label: 'Gasolina 98',
                    data: precios.map(row => row.price_g98e5),
                }, {
                    label: 'GLP',
                    data: precios.map(row => row.price_glp),
                }
            ]
        },
        options: {
            aspectRatio: {% if request|is_mobile %}1{% else %}2{% endif %},
            responsive: true,
            tension: 0.25,
            scales: {
                y: {
                    //beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Precio (€/L)'
                    },
                    ticks: {
                        callback: value => `${Math.round(value * 100) / 100} €/L`
                    }
                }
            }
        },
    }
);
</script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/@easepick/datetime@1.2.1/dist/index.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/core@1.2.1/dist/index.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/base-plugin@1.2.1/dist/index.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/range-plugin@1.2.1/dist/index.umd.min.js"></script>

<script>

    const picker = new easepick.create({
        element: "#datepicker",
        css: [
            "https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.css"
        ],
        zIndex: 10,
        readonly: false,
        RangePlugin: {
            locale: {
                one: "día",
                other: "días"
            }
        },
        plugins: [
            "RangePlugin"
        ]
    })

</script> {% endcomment %}
{% endblock script %}
