{% extends 'base.html' %}

{% load i18n user_agents crispy_forms_tags %}

{% block title %}{% trans 'Account' %}{% endblock %}

{% block content %}
<div id="account">
    <div class="title{% if request|is_mobile %} mobile{% endif %}">{% trans 'AWT Account' %}</div>
    <div class="container crwrapper">
        <p>{% trans "You're logged in as" %} '{{ user.get_username }}'.</p>
        <p><a href="https://coindrop.to/appuchia" class="btn btn-dark" rel="noopener noreferrer" aria-label="{% trans 'Hosting is not free' %}!" data-balloon-pos="down"><i data-lucide="coins"></i> {% trans "Support me" %}!</a></p>
        <hr>

        <h3>{% trans "Saved gas stations" %} ({% trans "Coming soon" %}...)</h3>
        <hr>
        <h3>{% trans "Mastermind games" %}</h3>
        <ul>
            {% for game in games %}
            <li><a href="/mastermind/game/{{ game.game_id }}/" class="text-themed darker">{{ game.game_id }} - {{ game.get_guess_count }} {% trans "guesses" %} ({% if not game.won and not game.lost %}{% trans "not" %} {% endif %}{% trans "finished" %})</a></li>
            {% endfor %}
        </ul>
        <hr>

        <div class="row justify-content-end">
            <a href="/accounts/chpwd/" class="col-md-4 btn btn-outline-dark"><i data-lucide="lock"></i> {% trans "Change password" %}</a>
            <a href="/accounts/logout/" class="col-md-3 btn btn-outline-dark"><i data-lucide="log-out"></i> {% trans "Logout" %}</a>
        </div>
    </div>
</div>
{% endblock %}
