{% extends 'base.html' %}

{% load i18n user_agents crispy_forms_tags %}

{% block title %}{% trans 'Account' %}{% endblock %}

{% block content %}
<div id="account">
    <h1 class="title{% if request|is_mobile %} mobile{% endif %}">{% trans 'AWT Account' %}</h1>
    <div class="container crwrapper">
        <p>{% trans "You're logged in as" %} '{{ user.get_username }}'.</p>
        <p><a href="https://coindrop.to/appuchia" class="btn btn-dark" rel="noopener noreferrer" aria-label="{% trans 'Hosting is not free' %}!" data-balloon-pos="down"><i data-lucide="coins"></i> {% trans "Support me" %}!</a></p>
        <hr>

        <h3><a href="/gas" class="text-themed darker">{% trans "Saved gas stations" %} ({% trans "Coming soon" %}...)</a></h3>
        <hr>
        <h3><a href="/mastermind" class="text-themed darker">{% trans "Mastermind games" %}</a></h3>
        <ul>
            {% for game in games %}
            <li>
                <a href="/mastermind/game/{{ game.game_id }}/" class="text-themed darker">{% if game.won %}<i data-lucide="crown"></i>{% elif game.lost %}<i data-lucide="x"></i>{% endif %}{{ game.created|date:"Y/m/d H:i" }} - {{ game.get_guess_count }} {% trans "guesses" %}
                </a>
            </li>
            {% endfor %}
        </ul>
        <hr>

        <div class="row justify-content-end">
            <a href="/accounts/chpwd/" class="col-md-4 btn btn-outline-dark mx-2"><i data-lucide="lock"></i> {% trans "Change password" %}</a>
            <a href="/accounts/logout/" class="col-md-3 btn btn-outline-dark"><i data-lucide="log-out"></i> {% trans "Logout" %}</a>
        </div>
    </div>
</div>
{% endblock %}
