{% extends 'base.html' %}

{% load i18n user_agents crispy_forms_tags %}

{% block title %}{% trans 'Account' %}{% endblock %}

{% block content %}
<div id="account">
    <div class="title{% if request|is_mobile %} mobile{% endif %}">{% trans 'AWT Account' %}</div>
        <div class="container crwrapper">
            <div class="user-info">
                <div class="username">{% trans "You're logged in as" %} '{{ user.get_username }}'.</div>
            </div>
            <div class="buttons">
                <div class="row">
                <a href="/accounts/chpwd/" class="btn btn-outline-dark"><i data-lucide="lock"></i> {% trans "Change password" %}</a>
                <a href="/accounts/logout/" class="btn btn-outline-dark"><i data-lucide="log-out"></i> {% trans "Logout" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
