{% extends 'base.html' %}

{% load i18n user_agents crispy_forms_tags %}

{% block title %}{% trans "Password change" %}{% endblock title %}

{% block content %}
<div id="chpwd">
    <h1 class="title{% if request|is_mobile %} mobile{% endif %}">{% trans 'Password change' %}</h1>
    <div class="container crwrapper">
        {% if user.is_authenticated %}
        <form action="/accounts/chpwd/" method="post">
            {% csrf_token %}
            {% crispy chpwdform %}
        </form>
        {% else %}
        {% trans "You're not logged in" %}. <a href="/accounts" class="btn btn-outline-dark">{% trans "Go back" %}</a>
        {% endif %}
    </div>
</div>
{% endblock %}
