{% extends 'base.html' %}

{% load i18n user_agents crispy_forms_tags %}

{% block title %}{% trans 'Account' %}{% endblock %}

{% block content %}
<div id="login">
    <h1 class="title{% if request|is_mobile %} mobile{% endif %}">{% trans 'AWT Account' %}</h1>
    <div class="container crwrapper">
        <div class="user-login-register">
            <div class="row">
                <div class="title mx-2 my-2">{% trans "Login" %}</div>
                <form action="/accounts/login/" method="post">
                    {% csrf_token %}
                    {% crispy form %}
                    <div class="links">
                        <a href="/accounts/register" class="col-md-6">{% trans "Don't have an account" %}? {% trans "Create one here" %}</a>
                        <a href='/accounts/respwd/'  class="col-md-6"><i data-lucide="key"></i> {% trans "Forgot your password" %}?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center"><a href="/accounts/why" class="text-themed">{% trans "Why should you" %}?</a></div>
</div>
{% endblock %}
