{% extends 'base.html' %}

{% load i18n user_agents crispy_forms_tags %}

{% block title %}{% trans 'Account' %}{% endblock %}

{% block content %}
<div id="why">
    <h1 class="title{% if request|is_mobile %} mobile{% endif %}">{% trans 'Advantages of an account' %}</h1>

    <div class="container text-themed text-center">
        <h2><i data-lucide="check"></i> {% trans "Done" %} <i data-lucide="check"></i></h2>
        {% comment %} <p>- {% trans "See price comparisons with yesterday, last week and last month for all stations in your searches" %}.</p> {% endcomment %}
        <p>- {% trans "Play Mastermind. You will be able to see your game history and continue saved games" %}.</p>
        <h2><i data-lucide="clock"></i> {% trans "Pending" %} <i data-lucide="clock"></i></h2>
        <p>- {% trans "Viewing a personal dashboard with your favourite station and your saved query to find your usual prices faster" %}.</p>
        <hr>
        <h2 class="text-center"><i data-lucide="alert-triangle"></i> {% trans "Why you shouldn't create an account" %} <i data-lucide="alert-triangle"></i></h2>
        <p>{% trans "By creating an account, you are giving me (Appu) some details about you. Please don't create an account if you're uncomfortable with providing those details" %}.</p>
        <p>{% trans "I'm still learning, so I may lose your data and you may need to create your account again. I will try to avoid it, but I can't promise it won't happen" %}.</p>
    </div>

</div>
{% endblock %}
