{% extends "base.html" %}

{% load user_agents i18n %}

{% block head %}{% trans "Game result" %} #{{ game.game_id }}{% endblock head %}

{% block content %}
<div id="game" class="container">
    <h1 class="title{% if request|is_mobile %} mobile{% endif %}">{% trans "Mastermind game" %}</h1>
    <div class="crwrapper">
        <div class="title">{% trans "Game by" %} {{ game.user }} {% trans "played on" %}
            {{ game.created|date:"Y/m/d H:i" }}</div>
        <p class="subtitle">{% trans "Correct code" %}: {{ game.code }}</p>
        <p>{% trans "Guess attempts" %}:</p>
        <ol>
            {% for guess in guesses %}
            <li>{{ guess }} ({{ guess.correct }}-{{ guess.misplaced }})</li>
            {% endfor %}
        </ol>
        <div class="d-flex justify-content-end">
            <a href="/mastermind/play" class="btn btn-outline-dark mx-2">
                <i data-lucide="binary"></i> {% trans "Start another game" %}!
            </a>
            <a href="#" class="btn btn-outline-dark"
                onclick="navigator.clipboard.writeText('https://appu.ltd/mastermind/game/{{ game }}');">
                <i data-lucide="share-2"></i> {% trans "Share! (copy link)" %}
            </a>
        </div>
    </div>
</div>
<div style="position:absolute;top:0">
    <canvas id="confetti"></canvas>
</div>
{% endblock content %}

{% block script %}
{% if game.won %}
<script src="/s/confetti.js"></script>
{% endif %}
{% endblock script %}
