{% extends "base.html" %}

{% load user_agents i18n %}

{% block head %}{% trans "Game result" %} #{{ game.game_id }}{% endblock head %}

{% block content %}
<div id="game" class="container">
    <div class="crwrapper">
        <p>{% trans "Game" %} #{{ game }} ({% trans "Correct code" %}: {{ game.code }})</p>
        <ol>
            {% for guess in guesses %}
            <li>{{ guess }} ({{ guess.correct }}-{{ guess.misplaced }})</li>
            {% endfor %}
        </ol>
        <div class="row">
            <a href="/mastermind/play" class="text-themed darker">{% trans "Start another game" %}!</a>
        </div>
    </div>
</div>
{% endblock content %}
