{% extends "base.html" %}

{% load user_agents i18n crispy_forms_tags %}

{% block head %}{% trans "Playing game" %} #{{ game.game_id }}{% endblock head %}

{% block content %}
<div id="play" class="container">
    <div class="title">{% trans "Mastermind game" %}</div>
    <div class="crwrapper">
        <ol>
            {% for guess in guesses %}
            <li>{{ guess }} ({{ guess.correct }}-{{ guess.misplaced }})</li>
            {% endfor %}
        </ol>
        <form action="/mastermind/guess/{{ game.game_id }}/" method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>
{% endblock content %}
